* {
  outline: 1px dotted red;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}

#gridDisplay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  overflow: hidden;
}

.square {
  flex: 0 0 auto;
  aspect-ratio: 1 / 1;
  background-color: white;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: lightgray;
  border: none;
  outline: none;
}

#nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 15px;
  justify-content: center;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  outline: none;
}

.mode {
  flex-direction: row;
  gap: 5px;
}

.modeBtn {
  flex: 1;
}
